div.cs-select{display:inline-block;vertical-align:middle;position:relative;text-align:left;z-index:100;max-width:500px;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;float:left}
.cs-skin-elastic.cs-active .cs-options{pointer-events:auto}
div.cs-select:focus{outline:none}
.cs-select select{display:none}
.cs-options ul li{border-bottom:1px solid #fff}
.cs-options ul li:last-child{border-bottom:none}
.cs-select span{display:block;position:relative;cursor:pointer;padding:14px 20px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.cs-select > span{padding-right:3em}
.cs-select > span::after,.cs-select .cs-selected span::after{speak:none;position:absolute;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.cs-select > span::after{content:'\25BE';right:10px;font-size:18px}
.cs-select .cs-selected span::after{content:'\2713';margin-left:1em}
.cs-select.cs-active > span::after{-webkit-transform:translateY(-50%) rotate(180deg);transform:translateY(-50%) rotate(180deg)}
div.cs-active{z-index:200}
.cs-select .cs-options{position:absolute;overflow:hidden;width:100%;background:#fff;visibility:hidden;border:1px solid #5ca25a}
.cs-select.cs-active .cs-options{visibility:visible}
.cs-options ul li span{color:#666;font-weight:400}
.cs-select ul{list-style:none;margin:0;padding:0;width:100%}
.cs-select ul span{padding:7px 10px}
.cs-select ul li.cs-focus span{background-color:#ddd}
.cs-select li.cs-optgroup ul{padding-left:1em}
.cs-select li.cs-optgroup > span{cursor:default}