.ddsmoothmenu{width:80%;float:left;position: relative;}
.ddsmoothmenu ul{z-index:10000;margin:0;padding:0}
.ddsmoothmenu ul li a:after{content:"";display:table;position:absolute;width:100%;bottom:1px;left:0;height:1px;-webkit-transform:scale3d(0,1,1);transform:scale3d(0,1,1);-webkit-transition:-webkit-transform .3s .3s;transition:transform .3s .3s}
div.ddsmoothmobile .head-side{display:block;height:34px;width:100%;position:fixed;z-index:99999;top:0;left:0;padding:0;margin:0;text-align:right}
div.ddsmoothmobile .head-side a{display:block;line-height:34px;padding:0 10px;background:#FC0}
div.ddsmoothmobile .head-side:hover a{background:red}
* html .ddsmoothmenu ul li a{display:inline-block}
.ddsmoothmenu ul li a.selected{background:#fff}
.ddsmoothmenu ul li a.selected:after{-webkit-transition-delay:0;transition-delay:0;-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
.ddsmoothmenu ul li:hover a{background:#fff;color: #142d3a}
* html .ddsmoothmenu{height:1%}
.downarrowclass{position:absolute;top:12px;right:7px}
.rightarrowclass{position:absolute;top:17px;right:15px}
.leftarrowclass{position:absolute;top:17px;left:15px}
.downarrowclass:after{content:"";position:absolute;right:20px;top:17px;width:6px;height:6px;border:1px solid #111;border-width:0 1px 1px 0;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
.ddshadow{position:absolute;left:0;top:0;width:0;height:0;background-color:#ccc}
.toplevelshadow{margin:5px 0 0 5px;opacity:.8}
.ddcss3support .ddshadow.toplevelshadow{margin:0}
.ddcss3support .ddshadow{background-color:transparent;box-shadow:5px 5px 5px #aaa;-moz-box-shadow:5px 5px 5px #aaa;-webkit-box-shadow:5px 5px 5px #aaa}
div.ddsmoothmobile{background:none;color:#333;position:absolute;top:0;right:0;width:240px;min-height:310px;overflow:hidden;visibility:hidden}
div.ddsmoothmobile::before{position:relative;cursor:pointer;z-index:9999;background:none;width:100%;height:69px;top:0;left:0;display:block;content:""}
div.ddsmoothmobile a{color:#fff;text-decoration:none}
div.ddsmoothmobile div.topulsdiv{position:relative;background:#296525;overflow-y:auto;width:100%;height:100%}
div.ddsmoothmobile ul{list-style:none;width:100%;top:0;left:0;background:#296525;margin:0;padding:0}
div.ddsmoothmobile ul.submenu{position:absolute;height:100%;top:69px;overflow-y:auto;padding-bottom:69px}
div.ddsmoothmobile ul li{position:relative}
div.ddsmoothmobile ul li.breadcrumb{cursor:pointer;padding:12px;font-family:'SFUFuturaBook';font-size:13px;letter-spacing:2px;text-transform:uppercase;text-align:center;background:#dedede}
div.ddsmoothmobile ul li a{display:block;padding:12px 9px;border-bottom:1px solid #eee;text-align:center;font-size:12px;letter-spacing:2px;text-transform:uppercase}
.animateddrawer{font-size:12px;width:29px;height:20px;outline:none;position:absolute;display:none;top:23px;left:25px;z-index:1000}
.animateddrawer:before,.animateddrawer:after{position:absolute;content:'';display:block;width:100%;height:2px;background:#fff;border-radius:0;top:0;left:0;opacity:1;-webkit-transition:all .3s ease-in;transition:all .3s ease-in}
.animateddrawer:after{top:auto;bottom:0}
.animateddrawer span{width:100%;height:2px;background:#fff;position:absolute;top:50%;margin-top:-1px;border-radius:0;-ms-transform-origin:50% 50%;-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-transition:all .3s ease-in .3s;transition:all .3s ease-in .3s}
.animateddrawer span::after{content:'';display:block;width:100%;height:2px;background:#fff;border-radius:0;position:absolute;-ms-transform-origin:50% 50%;-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-transition:all .3s ease-in .3s;transition:all .3s ease-in .3s}
.animateddrawer.open{width:1.7em;height:1.2em;top:10px;right:10px}
.animateddrawer.open:before{top:50%;margin-top:-.3em;opacity:0}
.animateddrawer.open:after{bottom:50%;opacity:0}
.animateddrawer.open span{-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}
.animateddrawer.open span:after{-ms-transform:rotate(-90deg);-webkit-transform:rotate(-90deg);transform:rotate(-90deg)}