@media screen and (min-width:1025px) and (max-width:2000px) {
.menu_ul_remove{display:none!important}
}
@media screen and (max-width: 1024px) {
.li_menu{float:left}
.li_menu a{float:left;width:100%}
.fixed{display:none}
#header1{padding: 10px 5px}
.header,.header1{width:100%}
.wrapper_full_1,.news_home{width:1000px}
.footer,.banner_home{width:100%}
.menu_home{width:100%}
.cate_home{width:22%}
#menu_home .ddsmoothmenu{width:78%}
.menu_li li a{padding:0 6px}
#left_conent{width:22%}
#right_conent{width:77%}
.right_conent1{width:65%}
.right_conent2{width:34%}
.child_tichluy{width:25%;margin-right:0;padding:5px}
.left_menu_home li a b{width:160px}
.lert_trademark{width:40%}
.right_trademark{width:60%;padding:0 0 10px 7px}
.trademark_a{float:left;width:24%;height:87px;margin-right:1%;margin-top:6px}
#news_home{padding-bottom:30px}
.child_news_home{width:50%}
.time_news{width:10%}
.img_news_home{width:24%}
.sum_name_news_home{width:62%;padding:0 10px 10px}
.sum_name_news_home h3{height:auto}
#footer{padding:0 10px}
.left_footer{width:32%}
.right_footer{width:68%}
.email_letter_social{padding:10px 0 10px 15px}
#email_letter{width:47%}
#input_email_letter{width:85%}
.social{width:50%}
.social p{font-size:12px}
.cate_menu_khachhang{width:25%;padding:10px 0 0 10px}
.cate_menu_product_ft{width:50%}
.cate_menu_account_ft{width:25%}
.child_cate_produc_1{width:24%;margin-left:.5%;margin-right:.5%;margin-bottom:15px}
.child_cate_produc_top{margin-top:0}
.left_list_product{width:24%}
.right_list_product{width:74%}
.child_cate_produc_2{width:32%;margin-left:.6%;margin-right:.6%}
.child_cate_produc_2_last{margin-right:.6%}
div.child_news1{width:32%;margin-left:.6%;margin-right:.6%!important;height:290px}
#list_banner_news{width:100%}
.list_banner_news_right_2{display:none}
.list_news_home_cate_left{width:70%}
.left_detail_news,.list_news_home_cate_right{width:29%}
.right_detail_news{width:70%}
.ing_news_hot{margin-right:10px}
.name_news_hot{float:none}
.child_news_orther{width:50%}
.child_news_orther img{float:left;width:90px;margin-right:10px}
.summary_news_orther{float:none;width:auto}
.hide_ul_menu li a b{width:160px}
.text_tt_cart_left{width:570px}
.img_a_cart_1{width:35%}
.name_pr_cart_table span{width:60%}
.left_pay{width:60%}
.right_pay{width:38%}
.wp_input_div p{width:25%}
.input_frm{width:73%}
.wp_distric{width:100%}
.div_form_pay{padding:15px}
.child_cart_detail,.child_cart_detail1,.child_cart_detail2{padding:15px}
.img_a_cart{width:25%}
.name_cart_span1{width:63%;margin-left:1.5%}
.name_cart_span2{width:10%}
.box_tuvan_detail{display:none}
.left_account_user{width: 25%}
.right_account_user_1, .right_account_user{width: 74%}
.child_comment1_1{width: 100%}
.avatar_comment{width: 9%}
.name_faq{width: 89%;margin: 0;margin-top:5px;float: right;text-align: left;}
.child_comment1_1 .name_faq{width: 89%}
.child_tichluy span{width: 180px}
.view_a_full{margin-top: 15px}
.manufacturer_small a{margin-bottom: 10px}
.left_support{margin-top: 15px}
.search_heder{width: 42%}
.header_element_right{width: 44%}
.header_element_right>ul>li:first-child{margin-right: 20px}
.header_element_right>ul>li{margin-right: 10px}
.input_search{width: 67%}
#menu_home{padding: 0 5px}
.select_search_cate{font-size: 12px;padding: 10px 0 3px 7px;color: #757575}
.select_search_cate span, .select_search_cate input{vertical-align: middle;}
.select_search_cate input{margin-right: 4px;width: 14px;height: 14px}
}
@media screen and (max-width: 991px) {
div.child_news1{height:auto}
.left_detail_news{display:none}
.right_detail_news{width:100%}
.title_name_cate_1{height:auto;margin:15px 0}
.title_name_cate_1 p{float:none;position:static;margin-bottom:10px}
.manufacturer_small{float:none;position:static}
div.child_news1{width:48.5%;margin-left:.6%;margin-right:.6%!important}
.wrapper_full_1,.news_home{max-width:950px}
.text_tt_cart_left{width:100%}
.totail_1_2{font-size:20px}
.left_detail_pr{width:100%;float: none}
.right_detail_pr{width:100%;float:none}
.text_ship_free{float:left;margin-left:10px;margin-top:5px}
.child_cate_produc_2.last{margin-right:.6%!important}
.child_cate_produc_3{width:32%;margin-left:.6%;margin-right:.6%}
#email_letter{width:55%}
.social{width:40%}
.social p{margin:0;margin-bottom:7px}
#footer1 .footer p{text-align:center;float:none}
.box_product_v2_img img{height: 158px}
.wrapper_full_mb{display:block;border-bottom: 8px solid #e8eaee}
.right_trademark{margin: 15px 0}
.wrapper_full_3{height: auto}
.box_cate_add{display: block;border-bottom: 8px solid #e8eaee}
#frm_search_mobile{display: block;margin: 10px 5px 0 5px}
#frm_search_mobile form{border: 1px solid #acacac;border-radius: 5px;}
#frm_search_mobile form input{background: none; width:86%; height: 28px;float: left;padding: 0 10px;margin: 0;border: none;font-size: 14px; color:#777777;outline: none;}
#frm_search_mobile form input::-webkit-input-placeholder { /* Chrome/Opera/Safari *
  font-style: italic;
}
#frm_search_mobile form input::-moz-placeholder { /* Firefox 19+ */
  font-style: italic;
}
#frm_search_mobile form input:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
}
#frm_search_mobile form input:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
}
#frm_search_mobile form button{width:28px;height: 28px; text-align: center; float: right; border: none;background:none;color: #0E5841}
.select_manufacturer_small{margin-top: 10px}
.wrapper_full_2{margin-top: 10px;border-bottom: 8px solid #e8eaee;padding-bottom: 12px}
.price_wp_xx_cart{margin: 0;padding: 0}
.wp_quatang{margin-bottom: 5px}
.img_detail_name_2{margin-top: 10px}
.fist_menu_cate_a:after{margin-left: 10px;margin-right: 10px;}
.manufacturer_small>a{display: none;}
.wp_select_manufacturer_small{float: none}
.select_manufacturer_small{float: none;width:100%!important;border:1px solid #94b292!important;padding: 6px 10px;margin: 10px 0}
.cate_arrangement_pr_list{padding: 5px 0}
.cate_arrangement_pr_list_select p{margin-top: 10px}
.selec_arrangementt{margin-top: 2px}
#box_category_home, #box_category_home_small{display: none}
#box_category_home_mobile{display: block;}
#header_mobile{display: block;}
#header1{display: none}
#fixed_cart_phone{display: block;}
#block_banner{display: none}
.logo_ft{display: none}
.text_right_ft{padding-left: 10px}
.btn_cart{background: none;color: #0E5841}
.btn_cart i{display: block;font-size: 28px}
.btn_cart span{display: none}
.cate_view_all{color: #333;border: none}
.cate_view_all i{display: inline-block;}
.paging{margin-top: 10px}
.btn_view_more{padding-bottom: 0;margin-top: 5px;}
.btn_view_more a{margin: 0;padding: 0;color: #0388cd;background: none}
.cate_arrangement_pr_list_parent {display: none}
.list_pr_ds{border-bottom: 8px solid #e8eaee}
.cate_news_1{border-bottom: 8px solid #e8eaee}
.cate_arrangement_pr_list_select{display: none}
.banner_pr_list a{display: block;line-height: 0}
.banner_pr_list{margin: 0;padding-bottom:10px;border-bottom: 8px solid #e8eaee}
.mobile_filter_sort_mobile .phone___mb_1{display: none !important;}
.fixed_mb.mobile_filter_sort_mobile #filter_sort_mobile{display: block;width: calc(100% - 132px);margin: auto;height: 35px; margin-top: 4px;}
.sort_mobile, .filter_mobile{float: left;width: 50%;height: 100%;line-height: 35px;color: #fff;font-size: 16px}
.sort_mobile > a, .filter_mobile > a{display: block;color: #fff}
.filter_mobile i{margin-right: 3px}
.sort_mobile i:nth-child(2){margin-right: 3px}
html{width: 100%;overflow-x: hidden;}
body{overflow-x: hidden; position: relative;height: 100%}
html.state-filter {
    height: 100%;
    overflow: hidden;
}
html.state-filter body{
    height: 100%;
    overflow: hidden;
}
html.state-sort body {
    height: 100%;
    overflow: hidden;
}
html.state-sort #sort-menu {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
html.state-filter #filter-menu {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
.context-layout {
	display: block;
    position: absolute;
    z-index: 9999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e8eaee;
    overflow: hidden;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
}
.context-layout .nav {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    padding: 10px 0;
    text-align: center;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    margin-bottom: 3px;
}
.context-layout .nav .context-back {
    position: absolute;
    top:4px;
    left: 10px;
    font-size: 24px;
    color: #0388cd
}
.context-layout .nav h2{
	font-size: 16px;
	color: #333
}
#sort-menu .wrap, #filter-menu .wrap {
    overflow: auto;
    position: absolute;
    z-index: 9;
    top: 38px;
    left: 0;
    right: 0;
    padding: 10px 0;
}
#filter-menu .wrap{bottom: 50px}
.card{background: #fff; padding: 0 15px;}
.card-menu.in .list-group .list-group-item{border-bottom: 1px solid #ededed}
.card-menu .list-group .list-group-item > a {
    padding: 10px 0;
    position: relative;
    display: block;
    color: #333333;
    font-size: 14px;
}
.card-menu .list-group .list-group-item > a > i{font-size: 20px;color: #757575;position: absolute;top: 8.5px;right: 0}
.card-menu .list-group .list-group-item > a > i.fa-dot-circle-o{color: #0388cd}
#filter-menu .card-menu .list-group .list-group-item > a > i{font-size: 25px;top: 50%;margin-top: -12.5px;}
.text-uppercase {
    font-size: 15px;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
}
#filter-menu .card-sub-menu > .list-group > .list-group-item a > i{font-size: 20px;top: 50%;margin-top: -10px}
.card-menu.card-sub-menu > .list-group > .list-group-item{padding-left: 15px}
.card-menu .list-group .list-group-item [aria-expanded="true"] > .chevron {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.card-menu .list-group .list-group-item .chevron {
    transition: all linear 0.2s;
}
#filter-menu .card > .card-menu > .list-group > .list-group-item > a > span {
    color: #0388cd;
    font-size: 14px;
    display: block;
}
#filter-menu .card > .card-menu > .list-group > .list-group-item > a > span.hasMgTop{margin-top: 5px;line-height: 20px}
.card-menu .list-group .list-group-item>a.group_toogle{border-bottom: 1px solid #ededed}
#filter-menu .card-sub-menu > .list-group > .list-group-item a > i.fa-check-square{
    color: #0388cd
}
#filter-menu .sticky {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 15px;
    background: #fff;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.25);
}
#filter-menu .sticky .left {
    width: 50%;
    padding-right: 5px;
    float: left;
}
.btn-blue {
    background: #0388cd;
    color: #fff !important;
    font-size: 16px;
    padding: 15px;
    border-radius: 4px;
    border: none;
    text-align: center;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-normal {
    background: transparent;
    color: #333333 !important;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    padding: 6px 12px;
    border: 1px solid #d2d5df;
    text-align: center;
}
#filter-menu .sticky .right {
    width: 50%;
    padding-left: 5px;
    float: right;
}
#filter-menu .sticky a {
    font-size: 16px;
    padding: 4px;
}
#news_home{
    padding: 0
}
    
}
@media screen and (max-width: 800px) {
.price_pr_cart_table1{font-size:16px}
.thanhtoan_muasam{font-size:12px}
.table_cart tbody tr td{padding:10px}
.text_tt_cart tbody tr td{padding:10px}
.img_a_cart_1{width:30%}
.name_pr_cart_table span{width:65%}
.yeucau_call{width:100%}
.yeucau_call p{width:34%}
.input_Call{width:84%}
.submit_Call{margin-left:10px}
.card_by{width:100%;margin-bottom: 10px}
.phone_detail{width:48.5%;float:right}
.update_div_input{padding-top: 10px}
.update_div_input p{width: 100%;margin-bottom: 3px;margin-top: 0}
.input_update_frm{width: 100%}
}
@media screen and (max-width: 767px) {
.content_cart_mobile{display:block;margin-bottom:10px}
.table_cart{display:none}
.item_cart{padding:10px;margin-bottom:10px;position:relative;background:rgba(235,235,235,0.4)}
.thumb_donhang{width:30%;float:left}
.info_donhang{width:70%;float:left;padding:0 0 0 10px}
.btn_del_cart_item{position:absolute;display:inline-block;padding:5px;right:0;top:0}
.btn_del_cart_item i{font-size:20px;color:#666}
.giamoi{font-weight:400;font-size:14px;line-height:16px;vertical-align:middle;color:#d50000;display:inline-block;width:100%}
.title_sanpham_donhang a{color:#333;padding-bottom:5px;display:block}
.title_sanpham_donhang strong{text-transform:uppercase}
.content_cart_mobile .number_pr_cart_table{width:100%;border:none;margin-top:10px}
.content_cart_mobile .number_pr_cart_table .number_cart1{margin-left:0}
.text_tt_cart{margin-bottom:10px}
.text_tt_cart tbody tr td:nth-child(2){display:none}
.left_pay,.right_pay{width:100%;margin:5px 0}
.wp_input_div{padding:5px 0}
.child_cart_detail,.child_cart_detail1,.child_cart_detail2{padding:10px}
.child_cart_detail4{margin:0}
.price_wp_xx_right{width:100%}
.title_name_cate_1 p{font-size:18px}
.wp_input_div p{width: 27%}
.register_user{width: 100%}
.wp_input_user_login{width: 70%;margin: auto;padding: 5px 0}
.wp_input_user2{float: none;width: 70%; margin: auto;padding: 5px 0;}
.left_account_user{width: 100%;margin-bottom: 10px}
.right_account_user, .right_account_user1{width: 100%}
.tablle_donhang_history tr th, .tablle_donhang_history tbody tr td{padding: 5px}
.right_account_user1{margin: 0}
.right_account_user_1{width: 100%}
.history_order_detail_mobile{display: block;}
.history_order_detail_tpl{display: none}
.title_tt_3_mb{border-bottom: 1px solid #d4d4d4}
.right_account_user{margin-bottom: 10px}
.wp_input_user, .wp_input_user1{width: 80%;margin:auto;padding: 5px 0}
.wp_input_user1{margin-top: 10px}
.list_news_home_cate{margin:0;}
.box_product_v2{width: 50%}
.box_product_v2_img img{height: 250px}
div.child_news1{width: 100%;margin-left: 0;margin-right: 0}
}
@media screen and (max-width: 600px) {
	.box_product_v2_img img{height: 240px}
}
@media screen and (max-width: 500px) {
#header{display:none}
#header1{width:100%;position:relative;padding-bottom:10px}
.header1{width:auto!important;}
#logo{width:100%;text-align:center}
.logo_mb{display:inline-block}
.logo_pc{display:none}
.wrapper_full_1{width:100%!important;float:left;padding:0 5px}
.list_cart_1{display:none!important}
#form_search{display:none}
.footer{width:auto!important;padding:0 5px}
.left_footer{width:100%!important}
.menu_cate_footer{display:none}
.right_footer{width:100%!important;border:none}
.social{display:none}
.news_home{width:100%}
.left_support{width:100%!important}
.right_support{width:100%!important}
.text_giohang{display:none}
#menu_home,#banner_home,.giohang{display:none}
.giohang_mb{display:block;position:absolute;right:10px;tsop:10px}
.search_heder{display:none}
.giohang_mb a{float:left;position:relative}
.giohang_mb a p{position:absolute;left:-15px;top:10px;background:#e21d27;color:#fff;padding:5px;border-radius:50%;font-size:12px;font-weight:700}
.icon_menu_2{-moz-transform:rotate(-90deg);-webkit-transform:rotate(-90deg);transform:rotate(-90deg)}
.li_menu a img{display:none}
.child_news_home{width:100%!important;padding-bottom: 15px;border-bottom: 1px solid #ccc}
.email_letter_social{padding:0!important;text-align:center}
#email_letter{width:95%!important;margin-bottom:15px;text-align:center;float:none!important;display:inline-block}
#input_email_letter{width:80%!important}
.submit_letter{width:20%!important}
.logo_ft{text-align:center}
.logo_ft a{display:inline-block;text-align:center}
#footer1 .footer p{text-align:center;line-height:20px}
.wrapper_full{padding:0}
.lert_trademark{display:none}
.right_trademark{width:100%!important;padding:0!important}
#form_support{width:100%!important}
.last_a_mb{float:right;margin-right:0}
.trademark_a{width:48%;margin-right:0;height:auto!important}
.title_name_cate_1{float:left;width:100%;height:auto!important;margin: 10px 0}
.line_1{margin-top: 0}
.wp_select_manufacturer_small{width:100%!important;float: none}
.manufacturer_small{position:inherit!important}
.manufacturer_small a:nth-child(4),.manufacturer_small a:nth-child(5),.manufacturer_small a:nth-child(6){display:none}
#news_home{width:auto!important;padding:0 5px}
.wrapper_full_bg_3{background:none!important}
.manufacturer_small > a{display:none;width:27%;float:left;margin-right:2%;margin-top:7px;border:1px solid #d6d6d6!important}
.a_plus{width:13%!important;text-align:center;display:table}
.icon_plus{display:table-cell;vertical-align:middle;padding:0;float:none;text-align:center}
.icon_plus:before{padding:0;float:none;color:#d6d6d6!important}
.left_support1 .bx-wrapper .bx-controls .bx-pager{bottom:-25px!important}
.time_news{display:none}
.img_news_home{float:right;width:100%}
.search_mb_div{display:block}
.title_thuonghieu_mb_home{display:block}
.banner_home1{display:none}
.trademark_a_2{float:right}
.pr_name{overflow:hidden}
.wp_text_all{width:100%;margin-left:0}
.wp_text_all a{float:left;margin-right:5px;margin-top:5px}
.wrapper_full_4{padding-top:10px!important}
.all_thuonghieu p{float:left;width:100%}
.menu_header_mobi{display:block}
.right_list_product,.left_thuonghieu_img_2{width:100%!important}
#page{display:block!important}
.child_thuonghieu{float:left;width:49%;margin-right:0}
.child_thuonghieu1_2{float:right}
.select_th{margin-top:10px}
#list_banner_news{width:100%!important}
.list_news_home_cate_left{width:100%!important}
.list_news_home_cate_right,.list_banner_news_right_2{width:100%!important}
.list_banner_news_right_2{margin-top:10px}
.left_detail_news,.right_detail_news{float:left;width:100%!important}
.ing_news_hot{width:30%!important}
.name_news_hot{width:67%!important}
.child_news_orther1{float:left}
.child_news_hot a{width:100%}
.child_news_hot a img{width:100%}
.left_detail_pr{width:100%}
.img_detail_name_2,.img_detail_name_1,.right_detail_pr,.child_comment1_1{width:100%}
.price_wp_xx_left{width:100%}
.price_wp_xx_right{width:100%;float:left;text-align:left}
.box_tuvan_detail.fixed1{position:inherit}
.avatar_comment{width:15%}
.name_faq{float:right;width:82%!important;margin-left:0}
.register_user,.wp_input_user{width:100%!important}
.wp_input_user_login,.wp_input_user2,.wp_input_user1{width:100%;padding:10px 0!important}
.a_dangky{display:none}
.btn_login{float:none}
.list_banner_news_left{width:100%}
.list_banner_news_right{width:100%!important;height:auto}
.list_banner_news_left1{width:100%!important}
.list_banner_news{width:100%!important;float:left}
.summary_news a{width:100%}
.bx-wrapper .bx-pager .bx-pager-item{display:none}
.times_news{display:none}
.list_banner_news_left,.list_banner_news_left a,.list_banner_news_left a img{width:100%;max-width:100%}
.a_href_name1{width:100%}
.text_right_ft{width:100%;}
.faq_content img{max-width:100%;height:auto!important}
.faq li .faq_content{padding:10px!important}
input[name=comment_name]{width:100%}
.child_cate_produc_2_1{float:right}
.arrangementt_icon{display:none}

.h2_name{text-align:left}
.img_detail_name_2 ul{text-align:left;width:96%}
.left_list_product{display:none}
.cate_arrangement_pr_list_text{float:left;padding-bottom:10px}
.wrapper_full_1_mb{width:100%;overflow:auto}
.text_tt_cart_left{display:none}
.text_tt_cart tbody tr td:first-child{border-right:none;padding:0!important}
.left_pay{width:100%}
.name_scrool,.box_ship_free,.box_prduct_care{display:none!important}
.box_tuvan_detail1,.fixed1{width:100%!important}
.header_menu_left{display:none}
.left_detail_news{display:none}
.input_frm{width:100%}
.wp_input_div p{margin-bottom:10px}
.wp_distric,.right_pay{width:100%}
.child_cart_detail{padding:10px 0}
.div_form_pay{padding:10px}
.name_cart_span2{display:none}
.wp_input_div textarea{width:100%}
.img_a_cart{width:25%;margin-right:0}
.name_cart_span1{width:72%;float:right;margin-left:0}
div.child_news1{width:100%;margin:0;margin-bottom:10px}
.btn_del_cart_item i{font-size:16px}
.wp_input_div p{width:100%}
.btn_login, .btn_register{width: 100%}
.history_order_tpl tr th:nth-child(3), .history_order_tpl tbody tr td:nth-child(3){display: none}
.history_order_tpl tr th:nth-child(5), .history_order_tpl tbody tr td:nth-child(5){display: none}
.history_gift_tpl tr th:nth-child(5), .history_gift_tpl tbody tr td:nth-child(5){display: none}
.box_category_cate_banner a{display: block;float: none;width: 100%}
.h2_name{font-size: 18px}
.fist_menu_cate_a:after{margin-left: 10px;margin-right: 10px}
}

@media screen and (max-width:480px) {
	.img_news_home{float: none;width: 100%;margin-bottom: 5px}
	.img_news_home img{float: none;}
	.sum_name_news_home{float: none;padding: 0;width: 100%}
	.sum_name_news_home a{float: none;display: block;}
	.sum_name_news_home p{float: none;font-size: 14px}
	.child_news_orther{width:100%}
	.child_news_orther img{float: none;width: 100%;margin: 0;margin-bottom: 5px}
	.summary_news_orther{display: block;}
	.summary_news_orther a{height: auto;font-size: 16px;}
	.summary_news_orther p{height: auto;font-size: 14px}
	.child_news1{width:100%!important}
	.child_news1 a,.child_news1 a img{width:100%!important;max-width:100%}
	.summary_news{float: none;width: 100%;display: block;}
	.summary_news a{font-size: 16px}
	.summary_news p{display: block;float: none;}
	.box_product_v1, .box_product_v2, .box_product_v3, .box_product_v4{padding: 5px}
	.box_product_v2_img img{height: 220px}
	.input_Call{width: 82%}
}
@media screen and (max-width: 420px) {
	.box_product_v2_img img{height: 185px}
}
@media screen and (max-width:400px) {
	.box_product_v2_img img{height: 175px}
    .item_select .item_select_close i{padding-top: 2px}
}
@media screen and (max-width: 380px) {
	.box_product_v2_name a{height: 51px}	
	.box_product_v2_img img{height: 160px}
	.input_Call{width: 80%}
	.paging>span{display: block;margin-bottom: 5px}
}
@media screen and (max-width: 350px) {
.child_cate_produc_1{width:100%;margin-right:0!important}
.child_cate_produc_1:first-child{margin-top:0}
.child_cate_produc_1{margin-top:15px}

.fa-long-arrow-right{display:none}
/*.child_news_orther{width:100%}
.child_news_orther a{width:30%;float:left}
.child_news_orther a img{width:100%;max-width:100%}
.summary_news_orther{width:67%}
.summary_news_orther a{width:100%}
.summary_news_orther p{display:none}*/
.print_back{padding:15px 5px!important}
.icon-quaylai,.icon-intrangnay{width:50%!important}
.card_by,.phone_detail,.yeucau_call{width:100%}
.yeucau_call{width:100%;text-align:center}
.yeucau_call p{width:100%;text-align:center;padding:10px 0}
.input_Call,.submit_Call{text-align:center;float:none;display:inline-block}
.phone_detail{margin-top:0}
#error_callback{width:100%;text-align:center}
.show_error_white{text-align:center}
.child_cate_produc_2{width:100%}
.right_detail_pr{display:none}
.child_cate_produc_2{margin-right:0}
.history_order_tpl tr th:nth-child(4), .history_order_tpl tbody tr td:nth-child(4){display: none}
.history_gift_tpl tr th:nth-child(3), .history_gift_tpl tbody tr td:nth-child(3){display: none}
.wp_distric div{width: 100%;margin-bottom: 10px}
.a_thanhtoan{padding: 8px}
.box_product_v2{width: 100%}
.box_product_v2_img img{height: 250px}
.cate_arrangement_pr_list_select{float: left;}
.mobile_filter_sort_mobile .c-header-mobile__menu-inner{left: 30px !important}
}
@media screen and (min-width:350px) and (max-width:385px) {
.child_cate_produc_1,.child_cate_produc_2{width:49%;float:left;margin-right:0;margin-top:10px}
.child_cate_produc_1_2,.child_cate_produc_other_2{float:right}
.img_pr_home{height:auto!important}
.child_cate_produc_top{margin-top:10px}
.wp_price{width:100%!important;padding:0 10px!important}
.promotion_price_old{padding:0!important}
.promotion_price_news{float:right!important;padding:0!important;font-size:13px;font-weight:700}
.child_cate_produc_1{margin-top:15px}
.fa-long-arrow-right{display:none}
.print_back{padding:15px 5px!important}
.icon-quaylai,.icon-intrangnay{width:50%!important}
.promotion_price_old,.promotion_price_news{width:100%;text-align:center}
.wp_cart{width:100%;text-align:center;margin-right:0!important}
.icon_cart{text-align:center;float:none!important;display:inline-block;width:auto!important}
.phone_detail{width:49%;float:right}
.yeucau_call{width:100%;text-align:center}
.yeucau_call p{width:100%;text-align:center;padding:10px 0}
.input_Call,.submit_Call{text-align:center;float:none;display:inline-block}
#error_callback{width:100%;text-align:center}
.show_error_white{text-align:center}
}
@media screen and (min-width:386px) and (max-width:500px) {
.child_cate_produc_1{width:49%;float:left;margin-right:0;margin-top:0;margin-bottom: 10px}
.child_cate_produc_1_2{float:right}
.img_pr_home{height:auto!important}
.child_cate_produc_top{margin-top:10px}
.wp_price{padding:0 10px!important}
.promotion_price_old{padding:0!important}
.promotion_price_news{padding:0!important;font-size:13px;font-weight:700}
.child_cate_produc_2{width:48%!important;margin: 0 0.6%;margin-top: 8px}
/*.child_cate_produc_other_2{float:right}*/
/* .child_news1:first-child{margin-top:0}
.child_news1{width:100%;margin-right:0;height:auto;margin-top:10px}
.child_news1 a{width:35%;float:left}
.summary_news{width:62%;float:right;padding:0;border:none}
.summary_news a{width:100%} */
.fa-long-arrow-right{display:none}
.child_news1 a img{width:100%}
.wp_cart{text-align:center;margin-right:0}
.icon_cart{text-align:center;float:none!important;display:inline-block}
.phone_detail{width:49%;float:right}
.yeucau_call{width:100%;text-align:center}
.box_ship_free,.name_scrool,.box_prduct_care{display:none!important}
.yeucau_call p{text-align:center;padding:10px 0;margin-top:8px}
.input_Call,.submit_Call{text-align:center;float:none;display:inline-block}
.price_wp_xx_right{float:left;width:100%!important}
.box_tuvan_detail{width:100%!important}
.child_cate_produc_2{width:49%}
}
@media screen and (min-width:501px) and (max-width:700px) {
#menu_home,#banner_home,.banner_home1{display:none}
.wrapper_full_1,.footer,.news_home{width:100%!important;padding:0 5px}
.left_support,.right_support,.right_trademark{width:100%!important}
.cate_menu_khachhang,.menu_cate_footer{display:none}
.left_footer,.right_footer,.social{width:100%}
.right_footer{border:none}
.logo_ft{text-align:center}
.title_thuonghieu_mb_home{display:block}
.right_trademark{padding:0!important}
.lert_trademark{display:none}
.time_news{display:none}
.email_letter_social{border:none}
.child_news_home{width:100%}
.trademark_a{width:32%;margin-right:2%;height:auto!important}
.trademark_a_3{margin-right:0!important}
.child_cate_produc_1{width:49%;margin-right:0;margin-top:10px}
.child_cate_produc_1_2{float:right}
.wp_text_all{width:100%;margin-left:0;float:left}
.brand_char{float:left;margin-right:5px;margin-top:5px}
.child_thuonghieu{width:32%;margin-right:2%}
.child_thuonghieu1_3{margin-right:0}
#list_banner_news,.list_banner_news_right_2{width:100%!important}
.list_banner_news_right_2{margin-top:10px}
.child_news_hot{width:49%}
.child_news_hot:last-child{float:right;margin-top:0}
.list_news_home_cate_left,.list_news_home_cate_right{width:100%}
.child_news1{width:100%;height:auto;margin-top:10px}
.child_news1 a{width:35%;float:left}
.child_news1 a img{width:100%;max-width:100%}
.summary_news{width:62%;float:right;border:none;padding:0}
.fa-long-arrow-right{display:none}
.list_banner_news_left{width:100%}
.list_banner_news_right{width:100%!important;height:auto}
.list_banner_news_left1{width:100%!important}
.list_banner_news{width:100%!important;float:left}
.summary_news a{width:100%}
.bx-wrapper .bx-pager .bx-pager-item{display:none}
.times_news{display:none}
.list_banner_news_left,.list_banner_news_left a,.list_banner_news_left a img{width:100%;max-width:100%}
.a_href_name1{width:100%}
.text_right_ft{width:inherit;text-indent:10px}
.left_list_product{display:none}
.right_list_product{width:100%}
.child_cate_produc_2{width:49%;margin-right:0}
.child_cate_produc_other_2{float:right}
.child_cate_produc_2_1{float:right}
.arrangementt_icon{display:none}
#email_letter{width:100%;margin-bottom:10px;text-align:center}
#input_email_letter{float:none;display:inline-block}
.submit_letter{float:none;display:inline-block;text-align:center}
.social{text-align:center;width:100%;display:inline-block;float:none}
.social p,.footer_mangxh{text-align:center;float:none;display:inline-block;vertical-align:middle;margin-top:0}
.right_detail_pr{display:none}
.img_detail_name_2{width:100%}
.summary_news{width:62%;float:right;padding:0;border:none}
.summary_news a{width:100%}
.fa-long-arrow-right{display:none}
.child_news1 a img{width:100%}
.wp_cart{text-align:center;margin-right:0}
.icon_cart{text-align:center;float:none!important;display:inline-block}

.phone_detail{width:49%;float:right}
.right_detail_pr{display:none}
.yeucau_call p{text-align:center;padding:10px 0;margin-top:8px}
.input_Call,.submit_Call{float:none;display:inline-block}
.price_wp_xx_left{width:40%}
.price_wp_xx_right{width:50%}
.left_detail_pr{width:100%}
.img_detail_name_1{width:100%;text-align:center}
.header_menu_left{display:none}
}
@media screen and (min-width:701px) and (max-width:900px) {
#menu_home,#banner_home,.banner_home1{display:none}
.wrapper_full_1,.footer,.news_home{width:100%!important;padding:0 5px}
.left_support,.right_support,.right_trademark{width:100%!important}
.cate_menu_khachhang,.menu_cate_footer{display:none}
.left_footer,.right_footer,.social{width:100%}
.right_footer{border:none}
.logo_ft{text-align:center}
.title_thuonghieu_mb_home{display:block}
.right_trademark{padding:0!important}
.lert_trademark{display:none}
.time_news{display:none}
.email_letter_social{border:none}
.child_news_home{width:100%}
.trademark_a{width:23%;margin-right:2.6%;height:auto!important}
.last_a{margin-right:0!important}
.child_cate_produc_1{width:32%;margin-right:1%;margin-top:10px}
.child_cate_produc_1_3{margin-right:0}
.wp_text_all{width:100%;margin-left:0;float:left}
.brand_char{float:left;margin-right:5px;margin-top:5px}
.child_thuonghieu{width:32%;margin-right:2%}
.child_thuonghieu1_3{margin-right:0}
#list_banner_news,.list_banner_news_right_2{width:100%!important}
.list_banner_news_right_2{margin-top:10px}
.child_news_hot{width:49%}
.child_news_hot:last-child{float:right;margin-top:0}
.list_news_home_cate_left,.list_news_home_cate_right{width:100%}
.child_news1{width:100%;height:auto;margin-top:10px}
.child_news1 a{width:35%;float:left}
.child_news1 a img{width:100%;max-width:100%}
.summary_news{width:62%;float:right;border:none;padding:0}
.fa-long-arrow-right{display:none}
.list_banner_news_left{width:100%}
.list_banner_news_right{width:100%!important;height:auto}
.list_banner_news_left1{width:100%!important}
.list_banner_news{width:100%!important;float:left}
.summary_news a{width:100%}
.bx-wrapper .bx-pager .bx-pager-item{display:none}
.times_news{display:none}
.list_banner_news_left,.list_banner_news_left a,.list_banner_news_left a img{width:100%;max-width:100%}
.a_href_name1{width:100%}
.text_right_ft{width:inherit;text-indent:10px}
.left_list_product{display:none}
.right_list_product{width:100%}
.arrangementt_icon{display:none}
#email_letter{width:100%;margin-bottom:10px;text-align:center}
#input_email_letter{float:none;display:inline-block}
.submit_letter{float:none;display:inline-block;text-align:center}
.social{text-align:center;width:100%;display:inline-block;float:none}
.social p,.footer_mangxh{text-align:center;float:none;display:inline-block;vertical-align:middle;margin-top:0}
.left_detail_pr{width:100%}
.img_detail_name_1,.img_detail_name_2{width:49%}
.img_detail_name_2{float:right}
.fixed1{display:none}
/*.child_cate_produc_other_2{float:right}*/
.right_detail_pr{display:none}
.header_menu_left{display:none}
.header,.header1{width:100%;padding: 0 5px}
}
.sm_sp{border-radius:inherit!important;-webkit-appearance:none}
.div_full_sp select{border-radius:inherit!important;background:#fff}
.wrapper_full_mb{float:left;width:100%}
.wrapper_full_mb1{float:left;width:100%}
.cate_home_mb{cursor:pointer;position:relative;background:#0E5841;text-transform:uppercase;color:#fff;text-align:center;margin-top: 8px}
.cate_home_mb p{padding:10px 0}
.cate_home_mb p a{color: #fff}
.wrapper_full_mb1 ul{float:left;width:100%;border:1px solid #d4d4d4}
.wrapper_full_mb1 ul li{float:left;width:100%;border-bottom:1px solid #d4d4d4;position:relative}
.wrapper_full_mb1 ul li a{padding:7px 10px;width:100%;display:table}
.wrapper_full_mb1 ul li:last-child{border-bottom:none}
.wrapper_full_mb1 ul li i{top: 7px; cursor:pointer;right:0!important;padding:10px;font-style: inherit;position: absolute;color:#666;font-size: 10px}
.wrapper_full_mb1 li a b{font-weight:100;display:table-cell;vertical-align:middle;font-size:13px;color:#666;width:100%;padding-left:10px}
.wrapper_full_mb1 ul li > ul > li > a{padding:10px 10px 10px 20px;}
.wrapper_full_mb1 ul li > ul > li > i{top: 2px}

.ul_menu_mb_child{float:left;width:100%;border:none!important}
.ul_menu_mb_child li:first-child{border-top:1px solid #d4d4d4}
.ul_menu_mb_child li a{color:#666}
.ul_menu_mb_child1{border:none!important}
.ul_menu_mb_child li a:before{content:"\e250";font-size:10px;color:#b20505;float:left;margin-right:5px;font-family:"Glyphicons Halflings";margin-top: 1px;}
.ul_menu_mb_child1 li a:before{content:"\e258";font-size:8px;color:#5f8c5c;float:left;margin-right:5px;font-family:"Glyphicons Halflings";margin-left:5px;margin-top: 2px;}
.ul_menu_mb_child{display: none}
.menu_header_mobi{width:100%;position:relative;z-index:1000;top:0;left:0}
.user-menu-popup .menu-list li a{padding:10px}
.user-menu-popup .menu-list li a i{margin-right:10px}
.icon_arow_click{display:block!important}
.phone___mb_1 b{padding-left:24px;font-size:16px;font-family: Arial;vertical-align: middle;}
.phone___mb_1{position:relative}
.phone___mb_1.icon-sodienthoai:before{position:absolute;font-size:19px;top: -2px}