html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,input,select,textarea,label,legend,table,caption,tbody,tfoot,thead,th,td.menu-disabled,ul.links,ul.links.inline,ul.links li,.block ul,div.admin,tr.even,tr.odd,tr.drag,tbody,tbody th,thead th,.breadcrumb,.item-list .icon,.item-list .title,.item-list ul,.item-list ul li,ol.task-list li.active,.form-item,tr.odd .form-item,tr.even .form-item,.form-item .description,.form-item label,.form-item label.option,.form-checkboxes,.form-radios,.form-checkboxes .form-item,.form-radios .form-item,.marker,.form-required,.more-link,.more-help-link,.item-list .pager,.item-list .pager li,.pager-current,.tips,ul.primary,ul.primary li,ul.primary li a,ul.primary li.active a,ul.primary li a:hover,ul.secondary,ul.secondary li,ul.secondary a,ul.secondary a.active,.resizable-textarea{margin:0;padding:0;border:0;vertical-align:baseline}
ul.links,ul.links.inline,ul.links li,.block ul,ol,ul,.item-list ul,.item-list ul li{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
ins{text-decoration:none}
del{text-decoration:line-through}
table{border-collapse:collapse;border-spacing:0}
input,select,textarea{font-family:Arial,sans-serif}
textarea{font-size:1em;line-height:1.538em}
ul.links:after,div.admin-panel .body:after,{content:".";display:block;height:0;clear:both;visibility:hidden}
ul.inline:after{content:"";display:none;clear:none}
* html .form-item,* html ul.links,* html div.admin-panel .body,* html{height:1%}
:first-child + html .form-item,:first-child + html ul.links,:first-child + html div.admin-panel .body,:first-child + html{min-height:1%}
.clear{clear:both}
.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
div.last{margin-right:0!important}