@font-face{font-family:'icomoon';src:url(fonts/icomoon.eot?u3a1c9);src:url(fonts/icomoon.eot?u3a1c9#iefix) format("embedded-opentype"),url(fonts/icomoon.ttf?u3a1c9) format("truetype"),url(fonts/icomoon.woff?u3a1c9) format("woff"),url(fonts/icomoon.svg?u3a1c9#icomoon) format("svg");font-weight:400;font-style:normal}
[class^="icon-"],[class*=" icon-"]{font-family:'icomoon'!important;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-chungnhan:before{content:"\e938"}
.icon-cungloại:before{content:"\e939"}
.icon-danhgia:before{content:"\e93a"}
.icon-hoidap:before{content:"\e93b"}
.icon-delivery:before{content:"\e935"}
.icon-delivery-truck:before{content:"\e936"}
.icon-money:before{content:"\e937"}
.icon-bodycarevn:before{content:"\e934"}
.icon-logistics:before{content:"\e933"}
.icon-camket:before{content:"\e900"}
.icon-chamsoccothe:before{content:"\e901"}
.icon-chamsocdamat:before{content:"\e902"}
.icon-chamsoctoc:before{content:"\e903"}
.icon-chatluongvauytin:before{content:"\e904"}
.icon-chonam:before{content:"\e905"}
.icon-dangky:before{content:"\e906"}
.icon-dangnhap:before{content:"\e907"}
.icon-danhmucsanpham:before{content:"\e908"}
.icon-daucong:before{content:"\e909"}
.icon-diachi:before{content:"\e90a"}
.icon-diachigiaohang:before{content:"\e90b"}
.icon-email:before{content:"\e90c"}
.icon-facebook:before{content:"\e90d"}
.icon-freegift:before{content:"\e90e"}
.icon-freeship:before{content:"\e90f"}
.icon-giohang:before{content:"\e910"}
.icon-google:before{content:"\e911"}
.icon-hotline1:before{content:"\e912"}
.icon-hotline2:before{content:"\e913"}
.icon-huongdanmuahang:before{content:"\e914"}
.icon-intrangnay:before{content:"\e915"}
.icon-khuyen-mai:before{content:"\e916"}
.icon-lieutrinhdieutri:before{content:"\e917"}
.icon-listdọc:before{content:"\e918"}
.icon-listngang:before{content:"\e919"}
.icon-muahang:before{content:"\e91a"}
.icon-muiten1:before{content:"\e91b"}
.icon-muiten2:before{content:"\e91c"}
.icon-myphamtrangdiem:before{content:"\e91d"}
.icon-nhieuquatang:before{content:"\e91e"}
.icon-nuochoa:before{content:"\e91f"}
.icon-quanlydonhang:before{content:"\e920"}
.icon-quaylai:before{content:"\e921"}
.icon-sodienthoai:before{content:"\e922"}
.icon-soluongcong:before{content:"\e923"}
.icon-soluongtru:before{content:"\e924"}
.icon-suathongtin:before{content:"\e925"}
.icon-taikhoan:before{content:"\e926"}
.icon-tamgiac1:before{content:"\e927"}
.icon-tamgiac2:before{content:"\e928"}
.icon-thanhtoantannoi:before{content:"\e929"}
.icon-thoat:before{content:"\e92a"}
.icon-thucphamhotro:before{content:"\e92b"}
.icon-thucphamthethao:before{content:"\e92c"}
.icon-tichluydiemthuong:before{content:"\e92d"}
.icon-traloi:before{content:"\e92e"}
.icon-twitter:before{content:"\e92f"}
.icon-vienuong:before{content:"\e930"}
.icon-xemvideo:before{content:"\e931"}
.icon-youtube:before{content:"\e932"}