.vertical-slider-container {
    background: #fff;
    border: 20px solid #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
    margin: 40px auto;
    position: relative;
    width: 120px;
}

.slideshow {
    background: #fff;
    position: relative;
    overflow: hidden;
}

.slideshow img {
    display: block;
    width: 100%;
    height: 106px;
    padding: 9px;
    border: 1px solid #eee;
}

.slideshow a.active img{
	border: 1px solid #167bcb;
}

.vertical-slider-nav {
    color: rgba(0,0,0,0.8);
    cursor: pointer;
    display: block;
    height: 40px;
    margin-left: -20px;
    left: 50%;
    z-index: 10;
    position: absolute;
    overflow: hidden;
    opacity: 0;
    text-decoration: none;
    width: 40px;
    transition: all .3s ease;
}

.vertical-slider-nav-up {
    top: -60px;
}

.vertical-slider-container:hover .vertical-slider-nav-up:hover {
    opacity: 1;
}

.vertical-slider-container:hover .vertical-slider-nav-up {
    top: -20px;
    opacity: 0.7;
}

.vertical-slider-nav-down {
    bottom: -60px;
}

.vertical-slider-container:hover .vertical-slider-nav-down:hover {
    opacity: 1;
}

.vertical-slider-container:hover .vertical-slider-nav-down {
    bottom: -20px;
    opacity: 0.7;
}

.slideshow a{
	
}

#prev3{
	position: absolute;
	top: 0;
	width: 100%;
    height: 15px;
    text-indent: -999px;
    background: #167bcb;
}
#next3{
	position: absolute;
	bottom: 0;
	width: 100%;
    height: 15px;
    text-indent: -999px;
    background: #167bcb;
}
#prev3:before{
	width: 0;
    height: 0;
    content: "";
    top: 5px;
    left: 50%;
    margin-left: -6px;
    position: absolute;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 4px solid #fff;
}
#next3:before{
	width: 0;
    height: 0;
    content: "";
    bottom: 5px;
    left: 50%;
    margin-left: -6px;
    position: absolute;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 4px solid #fff;
}

@media (max-width: 767px) {
    .slideshow img {height: auto}
}