/* CSS Document */

/*-------------phan trang------------*/

.pagination
{
	margin:10px 20px 0px 0px;
	float:right;
	width:auto
}
.pagination li
{
	 background: url("../img/bg_buttons.png") repeat-x scroll center top #00789F;
    border-radius: 3px 3px 3px 3px;
    display: inline;
    float: left;
    list-style-type: none;
    margin: 2px;
    padding: 1px 4px;
	border: 1px solid #859C27;
}

.pagination li a
{
	color: #FFFFFF;
    float: left;
    padding: 2px 5px;
	text-decoration:none;
}

.pagination li a:hover
{
	
	color:#F00;
}

.pagination li.p
{
	color:#000;
	font-weight:bold;
	 background: url("../img/bg_buttons.png") repeat-x scroll center bottom #00789F;
	 border: 1px solid #690;
	
}
.pagination li.p a
{
	color:#333;
	font-weight:bold;
	
}
.pagination li.off
{
	opacity:0.5;
}
.pagination li.off a
{
	color:#999;
	cursor:default;
}