	/* Rich Text/WYSIWYG editor */

	div.wysiwyg { border: 1px solid #cccccc; padding: 5px; background-color: #ffffff; width: 97.5% !important; }
	div.wysiwyg * { margin: 0; padding: 0; }
	
	div.wysiwyg ul.panel { border-bottom: 1px solid #cccccc; float: left; width: 100%; padding: 10px 0 15px 0; background: url(../img/bg_fade_up.png) repeat-x bottom;}
	div.wysiwyg ul.panel li { list-style-type: none; float: left; margin: 0 2px; padding: 0 !important;  background: #ffffff; background-image: none !important;}
	div.wysiwyg ul.panel li.separator { height: 16px; margin: 0 4px; border-left: 1px solid #cccccc; }
	div.wysiwyg ul.panel li a { display: block; padding: 0 !important; width: 16px; height: 16px; background: url('../img/jquery.wysiwyg.gif') no-repeat -64px -80px; border: 0; cursor: pointer; padding: 1px; }
	div.wysiwyg ul.panel li a:hover, div.wysiwyg ul.panel li a.active {  }
	div.wysiwyg ul.panel li a.active { background-color: #f9f9f9; border: 1px solid #cccccc; border-left-color: #aaaaaa; border-top-color: #aaaaaa; padding: 0; }
	
	div.wysiwyg ul.panel li a.bold { background-position: 0 -16px; }
	div.wysiwyg ul.panel li a.italic { background-position: -16px -16px; }
	div.wysiwyg ul.panel li a.strikeThrough { background-position: -32px -16px; }
	div.wysiwyg ul.panel li a.underline { background-position: -48px -16px; }
	
	div.wysiwyg ul.panel li a.justifyLeft { background-position: 0 0; }
	div.wysiwyg ul.panel li a.justifyCenter { background-position: -16px 0; }
	div.wysiwyg ul.panel li a.justifyRight { background-position: -32px 0; }
	div.wysiwyg ul.panel li a.justifyFull { background-position: -48px 0; }
	
	div.wysiwyg ul.panel li a.indent { background-position: -64px 0; }
	div.wysiwyg ul.panel li a.outdent { background-position: -80px 0; }
	
	div.wysiwyg ul.panel li a.subscript { background-position: -64px -16px; }
	div.wysiwyg ul.panel li a.superscript { background-position: -80px -16px; }
	
	div.wysiwyg ul.panel li a.undo { background-position: 0 -64px; }
	div.wysiwyg ul.panel li a.redo { background-position: -16px -64px; }
	
	div.wysiwyg ul.panel li a.insertOrderedList { background-position: -32px -48px; }
	div.wysiwyg ul.panel li a.insertUnorderedList { background-position: -16px -48px; }
	div.wysiwyg ul.panel li a.insertHorizontalRule { background-position: 0 -48px; }
	
	div.wysiwyg ul.panel li a.h1 { background-position: 0 -32px; }
	div.wysiwyg ul.panel li a.h2 { background-position: -16px -32px; }
	div.wysiwyg ul.panel li a.h3 { background-position: -32px -32px; }
	div.wysiwyg ul.panel li a.h4 { background-position: -48px -32px; }
	div.wysiwyg ul.panel li a.h5 { background-position: -64px -32px; }
	div.wysiwyg ul.panel li a.h6 { background-position: -80px -32px; }
	
	div.wysiwyg ul.panel li a.cut { background-position: -32px -64px; }
	div.wysiwyg ul.panel li a.copy { background-position: -48px -64px; }
	div.wysiwyg ul.panel li a.paste { background-position: -64px -64px; }
	
	div.wysiwyg ul.panel li a.increaseFontSize { background-position: -16px -80px; }
	div.wysiwyg ul.panel li a.decreaseFontSize { background-position: -32px -80px; }
	
	div.wysiwyg ul.panel li a.createLink { background-position: -80px -48px; }
	div.wysiwyg ul.panel li a.insertImage { background-position: -80px -80px; }
	
	div.wysiwyg ul.panel li a.html { background-position: -48px -48px; }
	div.wysiwyg ul.panel li a.removeFormat { background-position: -80px -64px; }
	
	div.wysiwyg ul.panel li a.empty { background-position: -64px -80px; }
	
	div.wysiwyg iframe { border: 0; margin: 5px 0 0 0; clear: left; width: 97.5% !important;}